
.menu-container .popup-view{
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.menu-container .popup-view.active{
  opacity: 1;
  visibility: visible;
}

.menu-container .popup-card{
  position: relative;
  display: flex;
  width: 800px;
  height: 500px;
  margin: 20px;
}

.menu-container .popup-card .product-img{
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 90%;
  transform: translateY(25px);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu-container .popup-card .product-img img{
  z-index: 2;
  position: relative;
  width: 450px;
  left: -40px;
}

.menu-container .popup-card .info{
  z-index: 2;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 10px;
}

.menu-container .popup-card .close-btn{
  color: #555;
  z-index: 3;
  position: absolute;
  right: 0;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
}

.menu-container .popup-card .info h2{
  font-size: 40px;
  line-height: 40px;
  margin: 10px;
}

.menu-container .popup-card .info h2 span{
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu-container .popup-card .info p{
  font-size: 15px;
  margin: 10px;

}

.menu-container .popup-card .info .price{
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}


.menu-container .popup-card .info .add-cart-btn{
  color: #fff;
  background: #009DD2;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin:auto;
  padding: 10px 50px;
  border-radius: 20px;
  margin-top: 20px;

}

